@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.react-flow__controls-button {
    background: #fefefe !important;
    margin: 4px;
}

.react-flow__minimap {
    background: #000000;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.custom-button:hover {
    background: #366F8F;
}

.phase-button:hover {
    background: #1a1a1a;
}

.phase-button-completed {
    background: #1a1a1a !important;
    border-color: #fb923c !important;
    color: #fff !important;
}

.phase-button-future {
    background: #1a1a1a !important;
    border-color: #9ca3af !important;
    color: #e5e7eb !important;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.holy-grail {
    display: flex;
    flex-direction: column;
}

.holy-grail__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.holy-grail__left {
    width: 25%;
}

.holy-grail__middle {
    /* Take the remaining width */
    flex-grow: 1;
}

.holy-grail__right {
    width: 20%;
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-handle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
}
.react-flow__node-oval {
    z-index: -1 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #404040;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 0 4px rgba(75, 242, 246, 0.5);
}

.slider:before {
    position: absolute;
    content: "OFF";
    font-size: 11px;
    line-height: 22px;
    color: #4BF2F6;
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 2px;
    background-color: rgb(44, 44, 44);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(75, 242, 246, 0.3);
}
input:checked + .slider:before {
    content: "ON";
    font-size: 12px;
    color: #2b7d80;
    text-align: center;
    line-height: 22px;
    background-color: #4BF2F6;
    box-shadow: 0 0 10px rgb(44, 44, 44);
}

input:checked + .slider {
    background-color: #2b7d80; /* Cyberpunk green color when toggled */
}

input:focus + .slider {
    box-shadow: 0 0 1px #00f6ff; /* Glowing effect on focus */
}


input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.heading-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

/* ArwesSounds\(Frame2\)-children is compiled into c01880 after building process, this will work only in production */
.c01784:hover {
    color: #4BF2F6;
    background-color: #2b7d80;
}

.hide{
    display: none;
}
.moon, .sun{
    width: 34px;
    cursor: pointer;
    transition: .5s all ease-in-out;
}
